
<p>Your Saved Articles:</p>
{{#each articles}}
<h3>{{this.title}}</h3>
<p><a href={{this.link}}>{{this.link}}</a></p>
<p><a href={{this.summary}}>{{this.summary}}</a></p>
<p><a href={{this.note}}>{{this.note}}</a></p>
{{/each}}